<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>抽签签到</title>
</head>
<body>
<li>抽签结果</li>
<table border="'1">
    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result1.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result2.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result3.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result4.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result5.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result6.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result7.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result8.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ course.pop }}</td>
        {% for k, v in result9.items %}
            <td>
                <a href="{{ v }}">{{ k }}</a>
            </td>
        {% endfor %}
    </tr>
</table>


</body>
</html>