{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
  <div>
        <h2>您尚未登录，请登录！</h2>
        <form role="form" action="/logout/" method="POST">
            {% csrf_token %}
            <div>
                <label for="username" >用户名或邮箱</label>
                    <label>
                        <input name="usernameOrEmail" type="text" placeholder="请输入用户名">
                    </label>
            </div>
            <div>
                <label for="password" >密码</label>
                    <label>
                        <input name="password" type="text" placeholder="请输入密码">
                    </label>
            </div>
            <input type="reset" value="重置">
            <input type="submit" value="登录">
        </form>
    </div>
</body>
</html>